<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="Enhance Your Physical Strength" content="SPORTS PROGRAM">
    <title>MODU-PROJECT</title>
    <!--<link href="style.css" rel="stylesheet" type="text/css" /> -->
    <style>
      .nav {
        height: 70px;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
      }

      .nav-right-items {
        display: flex;
        margin-left: auto;
      }

      .nav-item {
        margin-left: 10px;
      }

      .nav-item-right {
        margin-left: 10px;
        margin-left: auto;
        color: red;
        
      }

      .company-name {
        margin-left: 20px;
      }

      .title {
        text-align: center;
        font-size: 3.5rem;
        font-weight: bold;
        margin-bottom: 25px
      }

      .subtitle {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: 25px
      }

      .main {
        width: 1000px;
        margin: 0 auto;
        margin-top: 60px;
      }

      .prices {
        display: flex;
      }

      .price-item {
        width: 350px;
        height: 470px;
        border: 1px solid black;
        margin: 20px;
        border-radius: 15px;
        text-align: center;
      }

      .price-item-title {
        font-size: 1.5rem;
        background: rgba(0,0,0,.03);
        height: 53px;
        line-height: 53px;
        border-bottom: 1px solid black;
        margin-bottom: 15px;
      }

      .price-item-price {
        font-size: 2.3rem;
        font-weight: bold;
        padding: 20px;
      }

      .price-item-button {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        color: #007bff;
        background-color: transparent;
        background-image: none;
        border-color: #007bff;
        margin-top: 30px;
      }

      .price-item-button--active {
        background-color: #007bff;
        color: white;
      }

      .price-item-detail {
        margin-bottom: 5px;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <div class="nav"> 
      <div class="company name">
        SPORT
      </div>
      
      <div class="nav-item"></div>
      <a href="https://classroom.google.com/" target="_blank">
        <div class="nav-item">운동 실천 인증하러 가기[TOUCH]</div>
      </a>
      <div class="nav-item-right">
        <%= student_id %>님 반갑습니다.
      </div>
      <div class="nav-item"></div>
      </div>
    <div class="main">
      <div class="title">
        인공지능 교수학습 프로그램[체력운동]
      </div>
      <div class="subtitle">
      이 프로그램은 건강 영역의 하나인 체력운동으로써 여러분들의 체력 향상과 운동보조 기능 지원을 위해 개발되었습니다.
      열심히 참여해봅시다.  
      </div>

      <div class="prices">
        <div class="price-item">
          <div class="price-item-title">
            하체운동
          </div>
          <img src="/img/squat image1_h.png" width="200" height="150"/>
          <div class="price-item-price">
            squat          
          </div>
          <a href="https://m.blog.naver.com/gilwons/221245854448" target="_blank">
              운동 정보 보러 가기[TOUCH]
          </a>
          <a href="gymPage?student_id=<%= student_id %>&id=<%= id %> " target="_self">
            <button class="price-item-button price-item-button--active">
              시작하기
            </button>
          </a>
        </div>
        <div class="price-item">
          <div class="price-item-title">
            상체운동
          </div>
          <img src="/img/pushup image1_h.png" width="200" height="150"/>
          <div class="price-item-price">
            push-up
          </div>
          <a href="https://m.blog.naver.com/hc_gangbuk/221602597274" target="_blank">
              운동 정보 보러 가기[TOUCH]
          </a>
          <a href="pushupPage?student_id=<%= student_id %>&id=<%= id %> " target="_self">
            <button class="price-item-button price-item-button--active">
              시작하기
            </button>
          </a>
        </div>
        <div class="price-item">
          <div class="price-item-title">
            전신운동
          </div>
          <img src="/img/burpee image1_h.png" width="200" height="150"/>
          <div class="price-item-price">
            burpeetest
          </div>
          <a href="https://blog.naver.com/PostView.naver?blogId=gani89&logNo=222462899927&parentCategoryNo=&categoryNo=36&viewDate=&isShowPopularPosts=true&from=search" target="_blank">
              운동 정보 보러 가기[TOUCH]
          </a>
         <a href="burpeetestPage?student_id=<%= student_id %>&id=<%= id %> " target="_self">
            <button class="price-item-button price-item-button--active">
              시작하기
            </button>
          </a>
        </div>
      </div>
    </div>
  </body>